html {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
   
   box-shadow: 2px red;
}
@font-face {
	    font-family: Montserrat;
    src: url(./assets/fonts/montserrat.regular.ttf);
}
@font-face{
	
    font-family: light;
    src: url(./assets/fonts/Montserrat-Light.ttf);	
}
@font-face {
	    font-family: Montserrat;
    src: url(./assets/fonts/montserrat.regular.ttf);
}
@font-face{
	
    font-family: light;
    src: url(./assets/fonts/Montserrat-Light.ttf);	
}

body {
  margin: 0px;
  padding: 0px;
  /* text-shadow: 1px 1px 1px #333; */
   border:1px solid silver;
}

::-webkit-scrollbar-thumb {
  display: none;
}

input[type="checkbox"]:disabled
{
  opacity: .3;
}

div#content {
  /* background-color: #333; */
  margin: 0px;
  padding: 10px;
 
}

div#inner-content {  
  width: 100%;
  height: 100%;
  font-family: 'Montserrat';
    color: rgba(51, 51, 51, 1);
  
   display: none; 
  /* -webkit-app-region: drag; */
}

.top-titlebar {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 32px;
  background-color: #7a7c7c;
  -webkit-app-region: drag;
}

.bottom-titlebar {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 32px;
  background-color: #7a7c7c;
  -webkit-app-region: drag;
  display:none;
}

.bottom-titlebar.blink{
    background: red;
    -webkit-transition: background 0.1s ease-in-out;
    -ms-transition:     background 0.1s ease-in-out;
    transition:         background 0.1s ease-in-out;
}

.left-titlebar {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 32px;
  height: 100%;
  background-color: #7a7c7c;
  -webkit-app-region: drag;
}

.right-titlebar {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 32px;
  height: 100%;
  background-color: #7a7c7c;
  -webkit-app-region: drag;
}

.top-titlebar-icon,
.bottom-titlebar-icon {
  position: absolute;
  left: 6px;
  margin-top: 6px;
  margin-bottom: 6px;
}

.bottom-titlebar-icon img {
  width: 24px;
  height: 24px;
  margin-top: -1px;
}

.left-titlebar-icon {
  position: absolute;
  bottom: 6px;
  margin-left: 6px;
  margin-right: 6px;
}

.right-titlebar-icon {
  position: absolute;
  top: 6px;
  margin-left: 6px;
  margin-right: 6px;
}

.top-titlebar-text,
.bottom-titlebar-text {
  position: absolute;
  left: 32px;
  width: 80%;
  margin-top: 6px;
  margin-bottom: 6px;
  font-style: Arial;
  font-size: 11pt;
  color: #ffffff;
}

.left-titlebar-text {
  position: absolute;
  bottom: 32px;
  width: 100px;
  margin-left: 6px;
  margin-right: 6px;
  font-style: Arial;
  font-size: 12pt;
  color: #ffffff;
  -webkit-transform: rotate(-90deg) translate(0, 100%);
  -webkit-transform-origin: 0% 100%;
}

.right-titlebar-text {
  position: absolute;
  top: 0px;
  width: 100px;
  margin-left: 6px;
  margin-right: 6px;
  font-style: Arial;
  font-size: 12pt;
  color: #ffffff;
  -webkit-transform: rotate(90deg) translate(0, 100%);
  -webkit-transform-origin: 0% 200%;
}

.top-titlebar-close-button,
.bottom-titlebar-close-button {
  position: absolute;
  right: 11px;
  width: 17px;
  height: 17px;
  margin-top: 6px;
  margin-bottom: 6px;
  -webkit-app-region: no-drag;
}

.left-titlebar-close-button {
  position: absolute;
  top: 11px;
  width: 17px;
  height: 17px;
  margin-left: 6px;
  margin-right: 6px;
  -webkit-app-region: no-drag;
}

.right-titlebar-close-button {
  position: absolute;
  bottom: 11px;
  width: 17px;
  height: 17px;
  margin-left: 6px;
  margin-right: 6px;
  -webkit-app-region: no-drag;
}

.top-titlebar-divider {
  position: absolute;
  left: 0px;
  top: 31px;
  width: 100%;
  height: 1px;
  background-color: #2a2c2c;
}

.bottom-titlebar-divider {
  position: absolute;
  left: 0px;
  bottom: 31px;
  width: 100%;
  height: 1px;
  background-color: #2a2c2c;
}

.left-titlebar-divider {
  position: absolute;
  left: 31px;
  top: 0px;
  width: 1px;
  height: 100%;
  background-color: #2a2c2c;
}

.right-titlebar-divider {
  position: absolute;
  right: 31px;
  top: 0px;
  width: 1px;
  height: 100%;
  background-color: #2a2c2c;
}

.recruiter-view {
  border: 1px solid #fff;
  padding: 5px;
  line-height: 20px;
}

.recruiter-view .name {
  font-weight: bold;
  color: #f0ad4e;
}

.recruiter-view table {
    font-family: 'Montserrat';
    color: rgba(51, 51, 51, 1);
}

.candidate-view .test-countdown {
  margin-bottom: 11px;
  text-align: center;
  font-family: 'Montserrat';
}

.candidate-view .actions button {
	
  width: 100%;
  display: block;
  font-size: 20px;
      height: 30px;
  text-align: center;
  padding: 5px 10px;
  margin-bottom: 11px;
  cursor: pointer;
  color: #fff;
  background-color: rgba(46, 128, 183, 1);
border-radius: 16px;
box-shadow: 0px 2px 10px 1px rgba(46, 128, 183, 0.3);
font-family: 'Montserrat';
font-size: 14px;
color: rgba(255, 255, 255, 1);
text-align: center;
letter-spacing: 0.05em;
line-height: 12px;
}

.candidate-view .actions button:hover {
	text-decoration: underline;
}

.candidate-view .actions button.button-view-question {
  background-color: rgba(46, 128, 183, 1);
  border: 0;
}


#alertDiv { 
  width: 400px;
  padding: 15px;
  margin: 100px auto auto auto;
  z-index: 10000;
  background-color: lightblue;
  border-style: solid;
  border-color: black;
 }
#backgroudDiv { 
  display: none; 
  position: fixed; 
  z-index: 9000; 
  left: 0; 
  top: 0; 
  width: 100%; 
  height: 100%; 
  background-color: rgba(0,0,0,0.4); 
 }

.candidate-view .actions button.button-finish-test {
background-color: rgba(255, 85, 85, 1);
border: 0;
}

#toggle{
	text-align:center;
	height:13px;
}
#toggle img{
	height:13px;
}
